---
import Layout from '~/layouts/Layout.astro';
import Welcome from '~/components/ja/Welcome.astro';
---

<Layout title="柏栄光教会" description="柏栄光教会 柏にある教会 神様の栄光のために礼拝を捧げ、福音を伝え、互いに愛し合い仕え合う共同体">
	<main class="space-y-10 mb-10">
		<Welcome />
	</main>
</Layout>
