---
import { SEO } from "astro-seo";

import Layout from '~/layouts/Layout.astro';
import Location from '~/components/ja/Location.astro';
---

<Layout>
	<main class="space-y-10 mb-10">
		<SEO
			title="柏栄光教会 アクセス"
			description="柏栄光教会 アクセス"
		/>
		<Location />
	</main>
</Layout>
