---
import Layout from '~/layouts/Layout.astro';
import ServiceTimes from '~/components/ja/ServiceTimes.astro';
---

<Layout title="柏栄光教会 礼拝時間" description="柏栄光教会 礼拝時間">
	<main class="space-y-10 mb-10">
		<ServiceTimes />
	</main>
</Layout>
