---
import Layout from '~/layouts/Layout.astro';
import WithJesus from '~/components/ja/WithJesus.astro';
---

<Layout title="柏栄光教会 イエス同行訓練" description="柏栄光教会 イエス同行訓練">
	<main class="space-y-10 mb-10">
		<WithJesus />
	</main>
</Layout>
