---
import "~/styles/global.css";
import GA from '~/components/GA.astro';

import AppHeaderJa from '~/components/ja/AppHeader.astro';
import AppHeaderKo from '~/components/ko/AppHeader.astro';
import AppFooterJa from '~/components/ja/AppFooter.astro';
import AppFooterKo from '~/components/ko/AppFooter.astro';

const isJa = Astro.currentLocale === "ja";
const AppHeader = isJa ? AppHeaderJa : AppHeaderKo;
const AppFooter = isJa ? AppFooterJa : AppFooterKo;
const lang = Astro.currentLocale || "ko";
---
<!doctype html>
<html lang={lang}>
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<GA />
	</head>
	<body class="bg-white min-h-screen flex flex-col">
		<AppHeader />
		<slot />
		<AppFooter />
	</body>
</html>
