
<section class="py-10 bg-base-100">
  <div class="container mx-auto px-6">
    <div class="max-w-3xl mx-auto">
      <h2 class="text-2xl font-bold mb-8 text-primary">主日礼拝時間</h2>
      <div class="overflow-x-auto">
        <table class="table w-full">
          <thead>
            <tr>
              <th class="text-lg">時間</th>
              <th class="text-lg">礼拝</th>
              <td class="text-lg">言語</td>
              <td class="text-lg">通訳</td>
            </tr>
          </thead>
          <tbody>
            <tr>
              <th>主日 10:00</th>
              <td>第１礼拝</td>
              <td>日本語</td>
              <td>なし</td>
            </tr>
            <tr>
              <th>主日 12:00(正午)</th>
              <td>第２礼拝</td>
              <td>韓国語</td>
              <td>日本語</td>
            </tr>
             <tr>
               <th>主日 10:30</th>
               <td>教会学校</td>
               <td>韓国語 または 日本語</td>
               <td>なし</td>
             </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</section>


<section class="py-10 bg-base-100">
  <div class="container mx-auto px-6">
    <div class="max-w-3xl mx-auto">
      <h2 class="text-2xl font-bold mb-8 text-primary">礼拝時間</h2>
      <div class="overflow-x-auto">
        <table class="table w-full">
          <thead>
            <tr>
              <th class="text-lg">時間</th>
              <th class="text-lg">礼拝</th>
              <th class="text-lg">言語</th>
              <th class="text-lg">通訳</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <th>月 ~ 金曜日 06:00</th>
              <td>早天祈り会</td>
              <td>韓国語</td>
              <td>なし</td>
            </tr>
            <tr>
              <th>水曜日 13:00</th>
              <td>水曜礼拝</td>
              <td>韓国語</td>
              <td>日本語</td>
            </tr>
             <tr>
               <th>金曜日 20:30</th>
               <td>金曜聖霊集会</td>
               <td>韓国語</td>
               <td>なし</td>
             </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</section>
