
<div class="carousel w-full h-[30vh]">
  <div id="slide1" class="carousel-item relative w-full">
    <div class="hero bg-primary/20">
      <div class="hero-content flex-col lg:flex-row">
        <div class="text-center lg:text-left w-full">
          <h1 class="text-5xl font-bold">イエス同行日記</h1>
          <p class="py-6">
            イエス同行日記の焦点は、
            単に日記を書くことにあるのではなく、
            ただ一つ、<span class="font-bold text-gray-900">イエス様と親しく歩むこと</span>にあります。
            <br/>
            イエス同行日記は、イエス様と共に歩む人生を学び、深めていくための最も優れた助けとなるものです。
          </p>
        </div>
      </div>
    </div>
  </div>
</div>

<section class="py-10 bg-base-100">
  <div class="container mx-auto px-6">
    <div class="max-w-3xl mx-auto">
      <h2 class="text-2xl font-bold mb-8 text-primary">With Jesus</h2>
      <div class="overflow-x-auto">
        イエス同行日記の焦点は、日記を書くことそのものではなく、ただ一つ「イエス様と親しく歩むこと」にあります。
        これは、イエス様と24時間親しく同行することを学び、訓練するための最も効果的な道具であり、また恵みを受け取る器でもあります。
        朝目覚めた瞬間から夜眠りにつくまで、どのようにイエス様と共に歩んだのかを日記の形で記していきます。
      </div>
    </div>
  </div>
</section>

<section class="py-10 bg-base-100">
  <div class="container mx-auto px-6">
    <div class="max-w-3xl mx-auto">
      <h2 class="text-2xl font-bold mb-8 text-primary">Walking & Change</h2>
      <div class="overflow-x-auto">
        イエス同行日記を書き続けるうちに、私たちの心が主の御前に明るく照らし出されるのを感じることでしょう。
        そして、私たちの信仰と生活の中に、はっきりとした変化が現れ始めるに違いありません。
      </div>
    </div>
  </div>
</section>

<section class="py-10 bg-base-100">
  <div class="container mx-auto px-6">
    <div class="max-w-3xl mx-auto">
      <h2 class="text-2xl font-bold mb-8 text-primary">イエス同行日記――なぜ書く必要があるのでしょうか？</h2>
      <div class="">
        <h3 class="text-xl font-bold mb-4">それは、形式的な宗教生活ではなく、生きた信仰の歩みを体験するためです。</h3>
        <div class="overflow-x-auto">
          救いの真理とは、十字架の贖いだけでなく、イエス様が復活し昇天され、聖霊として私たちのうちに住まわれることを意味しています。
          しかし残念ながら、多くの信徒はこのインマヌエルの主を教理として知ってはいても、実際にはその臨在を味わうことができていません。
          イエス同行日記は、常に私たちと共におられる主を実際に体験し、親しく交わることを助けるものです。
        </div>
      </div>

      <div class="py-10">
        <h3 class="text-xl font-bold mb-4">人生の変化は、イエス様との親しい関わりからのみ生まれます。</h3>
        <div class="overflow-x-auto">
          イエス様を信じると、罪の赦しを受けて神の子どもとされるだけでなく、私たちの人生そのものが変えられます。
          しかし、多くの信徒は人生の変化という面において自信を持てずにいます。
          それは、イエス様との親しい関わりに問題があるからです。
          人生の変化は、イエ스様との親しい交わりからのみ生まれるのです。
        </div>
      </div>

      <div class="">
        <h3 class="text-xl font-bold mb-4">イエス様との親しい関わりを養うための優れた道具です。</h3>
        <div class="overflow-x-auto">
          決心したからといって、一朝一夕にイエス様との関係が深まるわけではありません。
          日々、絶えずイエス様と共に歩む中で、その親しい関わりは少しずつ深められていきます。
          イエス同行日記は、毎日24時間イエス様を思い、見上げることを通して、イエス様との親密さを養うための優れた助けとなる道具です。
        </div>
      </div>

      <div class="mt-8 text-center">
        <a href="https://wjm.kr/with-jesus-journal/" target="_blank" class="btn btn-primary">イエス同行運動について詳しく見る</a>
      </div>
    </div>
  </div>
</section>
