---
import { SEO } from "astro-seo";

import Layout from '../layouts/Layout.astro';
import Welcome from '../components/ko/Welcome.astro';
---

<Layout>
	<main class="space-y-10 mb-10">
		<SEO
			title="카시와영광교회"
			description="카시와영광교회. 하나님의 영광을 위해 예배하며, 복음을 전하고, 서로 사랑하며 섬기는 공동체. 카시와에 있는 감리교회"
		/>
		<Welcome />
	</main>
</Layout>
