---
import Layout from '../layouts/Layout.astro';
import ServiceTimes from '../components/ko/ServiceTimes.astro';
---

<Layout title="카시와영광교회 예배시간" description="카시와영광교회 예배시간">
	<main class="space-y-10 mb-10">
		<ServiceTimes />
	</main>
</Layout>
