
<section class="py-10 bg-base-100">
  <div class="container mx-auto px-6">
    <div class="max-w-3xl mx-auto">
      <h2 class="text-2xl font-bold mb-8 text-primary">오시는길</h2>
      <p class="mb-8 text-lg">
        주소: 〒277-0005 千葉県柏市柏７丁目５−５７ ソフィアビル３F
      </p>
      <div class="overflow-x-auto">
        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3233.4385401182462!2d139.97571977657879!3d35.86276857252917!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x60189d65a5005f4b%3A0x1b482973c4f68ae9!2z7Lm07Iuc7JmA7JiB6rSR6rWQ7ZqMKOafj-aghOWFieaVmeS8mik!5e0!3m2!1sko!2sjp!4v1738153543995!5m2!1sko!2sjp" class="w-full h-80 md:h-[450px]" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
      </div>
    </div>
  </div>
</section>
