
<section class="py-10 bg-base-100">
  <div class="container mx-auto px-6">
    <div class="max-w-3xl mx-auto">
      <h2 class="text-2xl font-bold mb-8 text-primary">주일 예배시간</h2>
      <div class="overflow-x-auto">
        <table class="table w-full">
          <thead>
            <tr>
              <th class="text-lg">시간</th>
              <th class="text-lg">예배</th>
              <td class="text-lg">언어</td>
              <td class="text-lg">통역</td>
            </tr>
          </thead>
          <tbody>
            <tr>
              <th>주일 10:00</th>
              <td>1부 예배</td>
              <td>일본어</td>
              <td>없음</td>
            </tr>
            <tr>
              <th>주일 12:00(정오)</th>
              <td>2부 예배</td>
              <td>한국어</td>
              <td>일본어</td>
            </tr>
             <tr>
               <th>주일 10:30</th>
               <td>주일학교</td>
               <td>한국어 또는 일본어</td>
               <td>없음</td>
             </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</section>


<section class="py-10 bg-base-100">
  <div class="container mx-auto px-6">
    <div class="max-w-3xl mx-auto">
      <h2 class="text-2xl font-bold mb-8 text-primary">예배시간</h2>
      <div class="overflow-x-auto">
        <table class="table w-full">
          <thead>
            <tr>
              <th class="text-lg">시간</th>
              <th class="text-lg">예배</th>
              <th class="text-lg">언어</th>
              <th class="text-lg">통역</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <th>월 ~ 금요일 06:00</th>
              <td>새벽 예배</td>
              <td>한국어</td>
              <td>없음</td>
            </tr>
            <tr>
              <th>수요일 13:00</th>
              <td>수요 예배</td>
              <td>한국어</td>
              <td>없음</td>
            </tr>
             <tr>
               <th>금요일 20:30</th>
               <td>금요 성령집회</td>
               <td>한국어</td>
               <td>없음</td>
             </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</section>
