
<div class="carousel w-full h-[30vh]">
  <div id="slide1" class="carousel-item relative w-full">
    <div class="hero bg-primary/20">
      <div class="hero-content flex-col lg:flex-row">
        <div class="text-center lg:text-left w-full">
          <h1 class="text-5xl font-bold">예수동행일기</h1>
          <p class="py-6">
            예수동행일기의 초점은 일기 쓰기가 아니라,
            오직 하나 <span class="font-bold text-gray-900">‘예수님과 친밀한 동행’</span>입니다.
            <br/>
            예수동행일기는 예수님과 동행하는 삶을 훈련하는 가장 탁월한 도구입니다.
          </p>
        </div>
      </div>
    </div>
  </div>
</div>

<section class="py-10 bg-base-100">
  <div class="container mx-auto px-6">
    <div class="max-w-3xl mx-auto">
      <h2 class="text-2xl font-bold mb-8 text-primary">With Jesus</h2>
      <div class="overflow-x-auto">
        예수동행일기의 초점은 일기 쓰기가 아니라, 오직 하나 ‘예수님과 친밀한 동행’입니다.
        예수님과 24시간 친밀한 동행을 훈련하는 가장 효과적인 도구이자 은혜를 담아내는 그릇입니다.
        아침에 일어날 때부터 잠들 때까지 어떻게 예수님과 동행하였는지를 일기 형태로 기록합니다.
      </div>
    </div>
  </div>
</section>

<section class="py-10 bg-base-100">
  <div class="container mx-auto px-6">
    <div class="max-w-3xl mx-auto">
      <h2 class="text-2xl font-bold mb-8 text-primary">Walking & Change</h2>
      <div class="overflow-x-auto">
        예수동행일기를 쓰다보면 우리의 마음이 주님 앞에 밝히 드러나는 것을 느끼게 될 것이며,
        우리의 믿음과 삶에 분명한 변화가 찾아오기 시작할 것입니다.
      </div>
    </div>
  </div>
</section>

<section class="py-10 bg-base-100">
  <div class="container mx-auto px-6">
    <div class="max-w-3xl mx-auto">
      <h2 class="text-2xl font-bold mb-8 text-primary">예수동행일기! 왜 써야 할까요?</h2>
      <div class="">
        <h3 class="text-xl font-bold mb-4">종교생활이 아니라 살아있는 신앙생활을 경험하기 위함입니다.</h3>
        <div class="overflow-x-auto">
          구원의 진리는 십자가의 속죄 뿐 아니라 예수님이 부활승천하시고 우리에게 성령으로 오셔서 내주하시는 것을 말하고 있습니다.
          그러나 안타깝게도 많은 성도들 이 임마누엘의 주님을 교리로만 알지 실제로 누리지 못하고 있습니다.
          예수동행일기는 우리와 늘 함께 계시는 주님을 실제로 누리도록 돕는 것입니다.
        </div>
      </div>

      <div class="py-10">
        <h3 class="text-xl font-bold mb-4">삶의 변화는 예수님과의 친밀함에서만 비롯됩니다.</h3>
        <div class="overflow-x-auto">
          예수님을 믿으면, 죄 사함을 받고 하나님의 자녀가 될 뿐만 아니라 우리의 삶이 변화됩니다.
          그러나 많은 성도들이 삶의 변화 부분에서는 자신이 없습니다.
          그것은 예수님과의 친밀함에 문제가 있기 때문입니다.
          삶의 변화는 예수님과의 친밀함에서만 비롯됩니다.
        </div>
      </div>

      <div class="">
        <h3 class="text-xl font-bold mb-4">예수님과의 친밀함을 훈련하는 탁월한 도구입니다.</h3>
        <div class="overflow-x-auto">
          결심한다고 하루아침에 예수님과의 관계가 깊어질 수는 없습니다.
          꾸준하고 지속 적으로 예수님과 동행하는 가운데 친밀함이 깊어집니다.
          예수동행일기는 날마다 24시간 예수님을 생각하고 바라보게 함으로 예수님과의 친밀함을 훈련할 수 있는 탁월한 도구입니다.
        </div>
      </div>

      <div class="mt-8 text-center">
        <a href="https://wjm.kr/with-jesus-journal/" target="_blank" class="btn btn-primary">예수동행운동 사역에 대해 자세히 알아보기</a>
      </div>
    </div>
  </div>
</section>
